@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --dark-blue: #0A3871;
  --gray: #495057;
  --grayDark: #343A40;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 16px;
  background-color: #F3F5FC;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

body {
  padding: 4%;
}


header {
  width: 100%;
  margin: 4% 0;
}

button {
  cursor: pointer;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

textarea {
  border: none;
  resize: none;
  width: 100%;
  min-height: 50vh;
  font-size: 2rem;
  margin: 10% 0;
  background-color: transparent;
  color: var(--dark-blue);
  height: auto;
}

textarea::placeholder {
  color: var(--dark-blue);
}

textarea:focus {
  outline: none;
}

#advice {
  display: inline-flex;
  align-items: center;
  padding: 1rem 0;
}

#advice img {
  padding: 0 3px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.buttons button,
#copy__button,
#clear__button {
  padding: 1.5rem;
  border-radius: 24px;
  font-size: 1rem;
  border: none;
  transition: all 0.3s ease;
}

#copy__button,
#clear__button {
  margin-top: 1.5rem;
  background-color: white;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

#copy__button,
#clear__button {
  width: 100%;
  display: none;
}

#dialog__button {
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
}

#encrypt,
#dialog__button {
  background-color: var(--dark-blue);
  color: white;
}

#encrypt:hover,
#dialog__button:hover {
  background-color: #04172f;
  margin: 1px solid #F3F5FC;
}

#encrypt:active,
#dialog__button:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.566);

}

#decrypt {
  background-color: white;
  color: var(--dark-blue);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

#decrypt:hover,
#copy__button:hover,
#clear__button:hover {
  background-color: #e7ecfe;

}

#decrypt:active,
#copy__button:active,
#clear__button:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px var(--dark-blue);
}

#result__container {
  margin: 3rem 0;
  padding: 2rem 3rem;
  border-radius: 2rem;
  background-color: white;
  text-align: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.figure {
  display: none;
}

#not__found {
  font-style: normal;
  text-align: center;
  color: var(--grayDark);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 29px;
  margin-bottom: 16px;
}

#result__text {
  font-style: normal;
  text-align: center;
  color: var(--dark-blue);
  font-size: 1.5rem;
  line-height: 29px;
  margin-bottom: 16px;
  word-wrap: break-word;
  overflow: auto;
}

dialog {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 2rem;
  transition: all 0.3s ease;
  border-radius: 30px;
  border: none;
}

dialog h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

dialog p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadein 0.5s forwards;
}

dialog[open] {
  pointer-events: auto;
  animation: slidein 0.5s forwards;
}

dialog.close[open] {
  animation: slideout 0.5s forwards;
}

dialog.close::backdrop {
  animation: fadeout 0.5s forwards;
}

footer {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin-right: 8px;
}

.social {
  padding: 5px;
}

.social img {
  width: 24;
  height: 24px;
}

#hollow {
  width: 50px;
  height: 50px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}


@media screen and (min-width: 1024px) {
  header {
    margin: 0;
  }

  body {
    padding-right: 0;
    padding: 3% 0 0 3%;
  }

  textarea {
    min-height: 40vh;
    height: calc(100vh - 11rem - 120px);
    margin: 0px;
    padding-top: 2rem;
  }

  main {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: calc(100vh - 9rem);
  }

  #result__container {
    width: 25%;
    min-width: 300px;
    margin: 0;
    translate: 0 -3.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #encrypt__container {
    width: 50%;
    min-width: 300px;
  }

  .figure {
    display: block;
    width: 100%;
  }

  .buttons {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}