@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --dark-blue: #0A3871;
  --gray: #495057;
  --grayDark: #343A40;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

body {
  background-color: #F3F5FC;
  color: var(--dark-blue);
  padding: 24px 16px;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

textarea {
  border: none;
  background-color: #F3F5FC;
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: var(--dark-blue);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header {
  height: 96px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  width: 100%;
  height: 300px;
  font-size: 32px;
  line-height: 48px;
  color: var(--dark-blue);
  min-height: 74%;
  margin-bottom: 30px;
}

.requirements {
  display: inline-flex;
}

.requirements img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.requirements p {
  font-size: 12px;
  line-height: 18px;
  color: var(--gray);
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 160px;
}

.buttons button,
.copy {
  font-size: 16px;
  line-height: 19px;
  border-radius: 18px;
  font-weight: bold;
  padding: 21px;
}

.buttons #encrypt {
  background-color: var(--dark-blue);
  color: white;
  margin-bottom: 24px;
  margin: 1px solid var(--dark-blue);
  transition: all 0.3s ease;
}



.buttons #encrypt:hover {
  background-color: #04172f;
  margin: 1px solid #F3F5FC;
}

.buttons #encrypt:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.566);

}

.buttons #decrypt,
.copy {
  background-color: white;
  color: var(--dark-blue);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.buttons #decrypt:hover,
.copy:hover {
  background-color: #e7ecfe;

}

.buttons #decrypt:active,
.copy:active {
  transform: scale(0.95);
  box-shadow: 3px 2px 22px 1px var(--dark-blue);
}


.message {
  border-radius: 24px;
  background-color: white;
  margin: 64px 16px 16px 16px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin-bottom: 32px;
}

.message img {
  display: none;
}

.messageContainer .notext {
  font-style: normal;
  text-align: center;
  color: var(--grayDark);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.messageContainer .inputRequest {
  text-align: center;
  color: var(--grayDark);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.encryptedText {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 32px;
  word-wrap: break-word;
}

#copy {
  padding: 24px;
  border-radius: 24px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: calc(100% - 90px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: var(--dark-blue);
  text-align: center;
}

footer img {
  width: 24px;
  height: 24px;
}

footer p {
  margin: 0px 30px;
}

footer #hollow {
  width: 80px;
  height: 80px;
}

.social {
  padding: 10px;
}



@media screen and (min-width: 768px) {

  body {
    min-height: calc(100% - 100px);
  }

  main {
    padding: 40px 84px 0px 84px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 68px;
  }

  .buttons button {
    min-width: 48%;
    max-width: 330px;
  }

  .buttons #encrypt {
    margin-bottom: 0px;
  }

  .text {
    min-height: 200px;
  }

}

@media screen and (min-width: 1024px) {
  body {
    height: calc(100% - 100px);
  }

  main {
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    padding: 40px 0 40px 84px;
    height: 100%;
  }

  .container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 68px;
    width: 100%;
  }

  .buttons button {
    min-width: 280px;
    max-width: 330px;
  }

  .buttons #encrypt {
    margin-bottom: 0px;
  }

  .message {
    width: 30%;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    justify-content: center;
    height: 100%;
  }


  .messageContainer {
    margin: 0px auto;
    padding: 32px;
    max-height: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    width: calc(100% - 64px);
  }

  .copy {
    margin: 32px;
  }

  .message img {
    display: block;
  }

  .text {
    margin-top: 50px;
    min-height: 70%;
    width: 100%;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: var(--dark-blue);
    text-align: center;
  }


  footer p {
    margin: 0px 30px;
  }

  footer #hollow {
    width: 80px;
    height: 80px;
  }

  .social {
    padding: 10px;
  }
}